<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935518284047-apprrlt2ae5na9rop7g5ft2pvjciotfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935518284047-apprrlt2ae5na9rop7g5ft2pvjciotfq</string>
	<key>API_KEY</key>
	<string>AIzaSyCw4XHB9yO6BUNpZrZtzgnqo_Jo9tlsIP4</string>
	<key>GCM_SENDER_ID</key>
	<string>935518284047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>smilingBait.fluttAR</string>
	<key>PROJECT_ID</key>
	<string>fluttar-b8e47</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttar-b8e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935518284047:ios:8e52fcf0adda31c328767a</string>
	<key>DATABASE_URL</key>
	<string>https://fluttar-b8e47.firebaseio.com</string>
</dict>
</plist>